arrow==0.15.6
astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
coverage==5.1
crayons==0.3.1
cryptography==3.2
idna==2.9
isort==4.3.21
jeepney==0.4.3
keyring==21.2.1
lazy-object-proxy==1.5.0
mccabe==0.6.1
numpy==1.22.0
pandas==1.0.5
pycodestyle==2.6.0
pycparser==2.20
pylint==2.5.3
pyOpenSSL==19.1.0
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQt5-stubs==5.14.2.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
SecretStorage==3.1.2
selenium==4.0.0a6.post2
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
urllib3==1.25.9
webdriver-manager==3.2.1
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.9
