arrow==0.15.5
cffi==1.14.0
cryptography==2.9.2
jeepney==0.4.3
keyring==21.2.0
numpy==1.18.3
pandas==1.0.3
pkg-resources==0.0.0
pycparser==2.20
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.0
python-dateutil==2.8.1
pytz==2019.3
SecretStorage==3.1.2
selenium==3.141.0
six==1.14.0
urllib3==1.25.9
xlrd==1.2.0
XlsxWriter==1.2.8
