arrow==0.15.6
astroid==2.4.1
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
idna==2.9
isort==4.3.21
jeepney==0.4.3
keyring==21.2.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.4
pandas==1.0.3
pkg-resources==0.0.0
pycparser==2.20
pylint==2.5.2
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
SecretStorage==3.1.2
selenium==4.0.0a5
six==1.14.0
soupsieve==2.0
toml==0.10.1
urllib3==1.25.9
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.8
